<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./base.css" />
	</head>
	<body>
		<!-- Footer -->
		<style>
			.footer__wrapper {
				height: 400px;
				background-color: #c9d1b1;
			}
			.footer__container {
				display: flex;
				height: 100%;
				align-items: center;
				color: #fff;
			}
		</style>
		<div class="u-custom">
			<footer class="footer__wrapper">
				<div class="u-container footer__container">Ну типа футер блин вот</div>
			</footer>
		</div>
	</body>
</html>
