<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./base.css" />
	</head>
	<body>
		<!-- Галерея заголовок -->
		<style>
			.gallery__title-wrapper {
				display: flex;
				flex-direction: column;
				text-align: center;
				gap: 10px;
				margin-bottom: 20px;
			}
			.gallery__desc {
				color: #abb0ba;
				font-size: 14px;
				line-height: 24px;
			}
		</style>
		<div class="u-custom u-mt-l">
			<div class="u-container">
				<div class="gallery__title-wrapper">
					<h1 class="gallery__title">Галерея</h1>
					<p class="gallery__desc">Фотоотчеты моих покупателей</p>
				</div>
			</div>
		</div>
	</body>
</html>
